* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    background: #ebebeb;
}
header {
    padding: 10px;
    height: 350px;
    width: 100%;
    background-color: #1f1f1f;
}
.app-name {
    text-align: center;
    padding: 0;
    margin-top: 70px;
}
.app-name h1 {
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: white;
    margin: 0;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 50%;
    margin: auto;
    padding: 30px;
}
.loc-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 70px;
    background-color: blueviolet;
    border: blueviolet;
}

.search-bar input {
    height: 20px;
    font-size: 30px;
    padding: 20px;
}
.search-btn {
    width: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: blueviolet;
    border: blueviolet;


}

.container {
    background-color: white;
    padding: 30px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
    width: 60%;
    box-shadow: -5px 5px 10px grey;
    display: grid;
    grid-template-columns: 1fr;
}
.weather-data h1 {
    margin: 0;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.temp-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.temperature-display {
    font-size: 140px;
    margin: 0;
    justify-self: right;
    align-self: center
}
.degree-icon {
    font-size: 50px;
    margin-top: 20px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 15px;
}
.unit-display {
    font-size: 45px;
    font-weight: 700;

    color: #4a4c4d;
}
.realfeel {
    margin: 0;
    font-weight: 100; 
    grid-column: 1/3;
}
.weather-icon {
    font-size: 150px;
    padding: 30px;
}

.cels-icon, .fahr-icon {
    padding: 10px;
    width: 60px;
    text-align: center;
}

.cels-icon {
    color: blueviolet;
    transition: color .3s ease-in-out;
}

.fahr-icon {
    color: white;
    transition: color .3s ease-in-out;

}

.switch {
    position: absolute;
    transform: translate(50%, 50%);
}


.temp-toggle {
    position: absolute;
    background: blueviolet;
    width: 130px;
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.1s ease-in-out;
    -moz-transition: all 0.3s 0.1s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s 0.1s ease-in-out;
}

.temp-toggle > .inner-circle {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.3s 0.1s ease-in-out;
    -moz-transition: all 0.3s 0.1s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s 0.1s ease-in-out
}

.temp-toggle.fahr > .inner-circle {
    margin-left: 68px
}

.temp-icons {
    width: 100%;
    height: 60px;
    margin: 0;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 300px;
    width: 100%;

}
.api-ref{
    text-align: right;
    margin: 20px;
}